[Unit]
Description=Battery Logger
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/home/michael/Projects/log_battery/battery_log.py
Restart=no

[Install]
WantedBy=default.target